<main>
    <div class="container">
        <div class="row d-flex justify-content-center py-vh-5 pb-0">
            <div class="col-12 col-lg-10 col-xl-8">
                <div class="row">
                    <div class="col-12">
                        <h1 class="display-1 fw-bold">News
                            <br><span class="fs-4">of</span>
                            Space
                        </h1>
                        <p class="lead border-top pt-5 mt-5" data-aos="fade-up">
                            Explore the most intriguing headlines, dive into captivating summaries,
                            and access links to read more on the original news sites. Stay updated and 
                            satisfy your curiosity about the vast and wonderful world of space. 
                            The adventure is just one click away on our space news page!
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
               
            </div>

            {{#each articles}}
            <div class="col-12 col-lg-10 col-xl-8">
                <div class="row d-flex align-items-start" data-aos="fade-right">
                    <div class="col-12 col-lg-7">
                        <h2 class="h3 mt-5 border-top pt-5">{{title}}</h2>
                        <p class="text-secondary">{{summary}}</p>
                    </div>
                    <div class="col-12 col-lg-4 offset-lg-1 bg-gray-900 p-5 mt-5">
                        <h3 class="h6">{{newsSite}}</h3><br>
                        <img src="{{imageUrl}}" width="800" height="500" alt="abstract image"
                        class="img-fluid position-relative rounded-5 shadow" data-aos="zoom-up">
                        <p class="text-secondary">
                            <br><a class="link-fancy link-fancy-light" href="{{url}}" target="_blank">Read more</a>
                        </p>
                    </div>
                </div>
            </div>
            {{/each}}

            </div>
        </div>
        <div class="row d-flex align-items-start justify-content-center py-vh-3 text-muted" data-aos="fade">
            <div class="col-12 col-lg-10 col-xl-9">
                <div class="p-5 small bg-gray-900">
                    <p>                            Stay tuned for regular updates! We strive to keep you informed with the latest news from the world of space exploration. Remember to check back frequently as we continually refresh our content to bring you the most current and captivating stories. Don't miss out on the exciting updates unfolding in the vast expanse of the universe. Keep exploring with us!
</p>
                </div>
            </div>
        </div>
    </div>

</main>